source https://api.nuget.org/v3/index.json
# this is the FCS nightly feed, re-enable at your own risk!
source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json

storage: none
framework: net5.0

nuget FSharp.Core
nuget FSharp.Compiler.Service ~> 41.0
nuget Argu

# copy_local: true because this is a build-time dependency only
nuget Dotnet.ReproducibleBuilds copy_local: true
nuget Ionide.KeepAChangelog.Tasks copy_local:true

nuget Expecto
nuget Expecto.Diff
nuget Expecto.TestResults
nuget MedallionShell ~> 1.5.0

# copy_local: false excludes runtime assets (desired for msbuild)
nuget Microsoft.Build copy_local: false
nuget Microsoft.Build.Framework copy_local: false
nuget Microsoft.Build.Utilities.Core copy_local: false
nuget Microsoft.Build.Tasks.Core copy_local: false
nuget Newtonsoft.Json
nuget Fsharp.Control.Reactive
nuget SemanticVersioning

github TheAngryByrd/FsLibLog src/FsLibLog/FsLibLog.fs

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub