source https://api.nuget.org/v3/index.json
storage: none
framework: net5.0, netcoreapp3.1

nuget FSharp.Core
nuget FSharp.Compiler.Service ~> 39.0
nuget Argu ~> 5.1

nuget Microsoft.NETFramework.ReferenceAssemblies # for net461 builds
nuget Microsoft.SourceLink.GitHub copy_local: true

nuget Expecto ~> 8.4
nuget Expecto.Diff
nuget Expecto.TestResults ~> 8.4
nuget MedallionShell ~> 1.5.0


nuget Microsoft.Build copy_local: false
nuget Microsoft.Build.Locator
nuget Newtonsoft.Json
nuget Fsharp.Control.Reactive

github TheAngryByrd/FsLibLog src/FsLibLog/FsLibLog.fs

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub