
source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json
source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7-transport/nuget/v3/index.json
source https://api.nuget.org/v3/index.json

# this is the FCS nightly feed, re-enable at your own risk!
# source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json

storage: none
framework: net6.0, net7.0

nuget FSharp.Core 7.0.0-beta.22473.1
nuget FSharp.Compiler.Service 42.7.100-preview.22473.1
nuget Argu

# copy_local: true because this is a build-time dependency only
nuget Dotnet.ReproducibleBuilds copy_local: true
nuget Ionide.KeepAChangelog.Tasks copy_local:true

nuget Expecto
nuget Expecto.Diff
nuget Expecto.TestResults
nuget MedallionShell

# copy_local: false excludes runtime assets (desired for msbuild)
nuget Microsoft.Build  17.4.0-preview-22469-04 copy_local: false
nuget Microsoft.Build.Framework 17.4.0-preview-22469-04  copy_local: false
nuget Microsoft.Build.Utilities.Core 17.4.0-preview-22469-04  copy_local: false
nuget Microsoft.Build.Tasks.Core 17.4.0-preview-22469-04  copy_local: false
nuget Microsoft.NET.StringTools 17.4.0-preview-22469-04
nuget Newtonsoft.Json
nuget Fsharp.Control.Reactive
nuget SemanticVersioning

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  framework: net6.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub